html>body #comments { margin: 0 auto .2em 0; width: 100%; }

#comments
{
	clear: right;
	z-index: 2;
	position: relative;
	margin: 0 -15.6em .2em 0;
        width: 98%;
}
.commentwrap {
	background: #fff;
        position: relative;
        border: 1px solid #aaa;
	clear: right;
}
html > body .commentwrap table {
        width: 100%;
        margin: 0;
}
.commentwrap table {
        width: 99%;
	margin: .3em;
}

.commentBox
{
	background: #555;
	text-align: center;
	color: #fff;
	margin-top: 0.5em;
}

.commentBox a { color: #fff; }
.commentBox a:visited { color: #fff; }

.commentBoxForm
{
	background: #ccc;
	text-align: center;
	padding-bottom: 0.5em;
}
.commentwrap legend
{
        display: none;
}
.commentwrap fieldset, .commentswrap form
{
        margin: 0;
        padding: 0;
        border: none;
}
.linkCommentPage {
	background: #ccc;
	text-align: center;
	margin: .3em;
	padding: .3em;
}
.commentTop .details {
	font-size: 75.5%;
	margin: 0;
	padding: 0;
}
.commentTop .details small {font-size: 100%;}

.commentTop
{
	background: #ddd;
	border: 1px solid #ccc;
	padding: .3em;
}

.commentSub
{
	background: #eee;
	padding: .3em;
	font-size: 80%;
	border: 1px solid #ddd;
	margin: 0;
}

.commentTop H4 { display: inline; }

.commentBody
{
	border: 1px solid #ddd;
	border-bottom: none;
	padding: .3em;
}

.commentshrunk, .commentstatus { font-weight: bold }

.quote {
    margin-bottom: .75em;
    padding-left: .75em;
    color: #555;
    border-left: 3px solid #ddd;
    position: relative;
    display: block;
}

#commentlisting {
        padding: 0px;
        margin: 0px;
        list-style: none;
}
.comment { margin-bottom: 0.5em }
#commentlisting li.comment { list-style: none; }
.comment_footer { text-align: center; background: #ddd }
.modsel {
	display: inline;
	font-weight: bold;
	color: black;
}

.ups
{
	margin: 0 0 0 -.3em;
	padding: 0 .3em;
	text-decoration: none;
	background: url("/images/comm-minus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 2;
	cursor: pointer;
}

.dwns
{
	margin: 0;
	padding: 0 .3em;
	text-decoration: none;
	background: url("/images/comm-plus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 1;
	cursor: pointer;
}

.hide { display: none   }
.show { display: inline }


.comment > .hidden  {
	display: none;
}

.comment > .oneline .commentSub, .comment > .oneline .otherdetails, .comment > .oneline .sig, .comment > .oneline .quote, .comment > .oneline .readrest, .comment > .oneline .zooicon {
	display: none;
}

.comment > .oneline * {
	display: inline;
}

.comment > .oneline {
	border: 1px solid #e5e5e5;
	margin: 1em 0 0 0;
	padding: .3em 0 0 0;
	position: relative;
	width: 99%;
	height: 1.3em;
	overflow: hidden;
}

/* lots of space between lines */
.comment > .oneline .commentTop, .comment > .oneline .commentBody {
	border: none;
	vertical-align: 10em;
}

.comment > .oneline .details {
	font-size: 100%;
}

.comment > .oneline .commentTop .title h4 a { color: #600; }
.comment > .oneline .commentTop {
	background: transparent;
	color: #600;
}

.comment > .oneline .commentBody {
	background: transparent;
	padding: 0 0 0 .5em;
}

.comment > .oneline .commentBody * {
	font-size: 100%;
	color: #666;
	text-decoration: none;
	font: inherit;
}

/* in oneline, sometimes icons are too tall for text ... this helps a little */
.comment > .oneline .zooicon {
	vertical-align: sub;
}


/* D2 Widget */

#d2act {position: relative; left: 1.2em !important; opacity: 1; z-index: 1000; width: 9.3em; text-align: center; }
#d2act div.block {background: #ccc;}
#d2act div.block div.title h4 {text-align: left;}
#d2act .close {position: absolute; top: .2em; right: .2em; color: #ccc; text-decoration: none; font-family: sans-serif; border: 1px solid #bbb; border-bottom: 1px solid #444; border-right: 1px solid #555; padding: 0 .3em;}
#d2act .close:hover {position: absolute; top: .2em; right: .2em; color: #eee; text-decoration: none; font-family: sans-serif; border: 1px solid #444; border-bottom: 1px solid #aaa; border-right: 1px solid #ccc; padding: 0 .3em;}
#d2act .commentControlFooter {border-bottom: 1px solid #444; border-top: 1px solid #ccc; text-align: right; padding: 3px; background: #666; color: #fff; }
#d2act .commentControlFooter a {  color: #fff; text-decoration: none; }
.loki { display: inline; }
.comment_divider,
#comment_full,
#comment_abbr,
#comment_hidden {opacity: 1 !important;  border-right: 1px solid #aaa;border-left: 1px solid #aaa;}
.commentControlFooter {clear: both}
#commentlisting {clear: right;}
#commentControlBoxStatus {border-bottom: 1px solid #444; border-top: 1px solid #ccc; text-align: center; padding: 3px; background: #666; color: #fff; }

.horizontal #d2act {background: #fff; left: 0 !important; opacity: 1; top: 0; z-index: 1000; border: none; border-right: 2px solid #aaa; width: 100%; text-align: center}
.horizontal #d2act div.block div.title h4 {background: #cc; !important}
.horizontal #comment_full, .horizontal #comment_abbr, .horizontal #comment_hidden, .horizontal .comment_divider { display: inline; }
.horizontal #commentControlPane {display: block; margin-left: auto; margin-right: auto; overflow: hidden; width: 38em}
.horizontal #comment_full,
.horizontal #comment_abbr,
.horizontal #comment_hidden,
.horizontal .comment_divider {border: none; padding: 0; margin: 0; height: 1.5em; float: left;}
.horizontal #comment_full,
.horizontal #comment_abbr,
.horizontal #comment_hidden {width: 8em;}

/* new draggable guts for the D2 Widget */

	/* Overall Size and Position */

#ccw-upper-end-zone,
#ccw-lower-end-zone {
	height: 16px;
}

#ccw-body,
#ccw-panel-container, #ccw-control {
	height: 140px;
}

#ccw-abbr-bar-pos, #ccw-hide-bar-pos,
.ccw-count-pos {
	height: 1px;
}

#ccw-upper-end-zone, #ccw-body, #ccw-lower-end-zone,
#ccw-panel-container, #ccw-control,
div.ccw-panel,
#ccw-abbr-bar-pos, #ccw-hide-bar-pos, div.ccw-count-pos {
	width: 120px;
}

#ccw-abbr-bar, #ccw-hide-bar {
	height: 4px;
	width: 124px;
	left: -3px; /* adjustment to center in control */
}

#ccw-abbr-bar       { top: -5px; }

.ccw-bar-tab {
	height: 8px;
	width: 50px;
	left: 38px; /* adjustment to center in bar */
}

#ccw-abbr-bar-tab   { top: -9px; }
#ccw-hide-bar-tab   { top: 4px; }

#ccw,
#ccw-upper-end-zone, #ccw-body, #ccw-lower-end-zone,
div.ccw-panel {
	display: block;
	position: relative;
}

#ccw-panel-container, #ccw-control,
#ccw-abbr-bar-pos, #ccw-hide-bar-pos,
#ccw-abbr-bar, #ccw-hide-bar,
.ccw-count-pos, .ccw-count-text,
.ccw-bar-tab {
	display: block;
	position: absolute;
}

#ccw-body { z-index: 1; }



	/* Borders and Fills */

#ccw {
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}

#ccw-abbr-bar, #ccw-hide-bar, .ccw-bar-tab { border: 1px solid black; }

#ccw-body                             { background-color: white; }
#ccw-full-panel, #ccw-upper-end-zone  { background-color: white; }
#ccw-abbr-panel                       { background-color: #CCCCCC; }
#ccw-hide-panel, #ccw-lower-end-zone  { background-color: #AAAAAA; }

#ccw-abbr-bar, #ccw-abbr-bar-tab      { background-color: white; }
#ccw-hide-bar, #ccw-hide-bar-tab      { background-color: #666666; }



	/* Cursor Behavior */

#ccw-abbr-bar, #ccw-hide-bar          { cursor: grab; cursor: -moz-grab; }

#ccw-control.ccw-active,
.ccw-active #ccw-abbr-bar,
.ccw-active #ccw-hide-bar             { cursor: grabbing; cursor: -moz-grabbing; }


	/* specifics */

.ccw-count-text {
	width: 100%;
	text-align: center;
}

#ccw-full-count-text { top: -20px; }
#ccw-abbr-count-text { top: -9px; }
#ccw-hide-count-text { top: 4px; }


#ccw-total-count-text {
	position: relative;
	left: 10px;
}

#ccw-abbr-bar-tab { border-bottom: none; }
#ccw-hide-bar-tab { border-top: none; }

