html>body #comments { margin: 0 auto .2em 0; width: 100%; }

#comments
{
	clear: right;
	z-index: 2;
	position: relative;
	margin: 0 -15.6em .2em 0;
        width: 98%;
}
.commentwrap {
	background: #fff;
        position: relative;
        border: 1px solid #aaa;
	clear: right;
}
html > body .commentwrap table {
        width: 100%;
        margin: 0;
}
.commentwrap table {
        width: 99%;
	margin: .3em;
}

.commentBox
{
	background: #555;
	text-align: center;
	color: #fff;
	margin-top: 0.5em;
}

.commentBox a { color: #fff; }
.commentBox a:visited { color: #fff; }

.commentBoxForm
{
	background: #ccc;
	text-align: center;
	padding-bottom: 0.5em;
}
.commentwrap legend
{
        display: none;
}
.commentwrap fieldset, .commentswrap form
{
        margin: 0;
        padding: 0;
        border: none;
}
.linkCommentPage {
	background: #ccc;
	text-align: center;
	margin: .3em;
	padding: .3em;
}
.commentTop .details {
	font-size: 75.5%;
	margin: 0;
	padding: 0;
}
.commentTop .details small {font-size: 100%;}

.commentTop
{
	background: #ddd;
	border: 1px solid #ccc;
	padding: .3em;
}

.commentSub
{
	background: #eee;
	padding: .3em;
	font-size: 80%;
	border: 1px solid #ddd;
	margin: 0;
}

.commentTop H4 { display: inline; }

.commentBody
{
	border: 1px solid #ddd;
	border-bottom: none;
	padding: .3em;
}

.commentshrunk, .commentstatus { font-weight: bold }

.quote {
    margin-bottom: .75em;
    padding-left: .75em;
    color: #555;
    border-left: 3px solid #ddd;
    position: relative;
    display: block;
}

#commentlisting {
        padding: 0px;
        margin: 0px;
        list-style: none;
}
.comment { margin-bottom: 0.5em }
#commentlisting li.comment { list-style: none; }
.comment_footer { text-align: center; background: #ddd }
.modsel {
	display: inline;
	font-weight: bold;
	color: black;
}

.ups
{
	margin: 0 0 0 -.3em;
	padding: 0 .3em;
	text-decoration: none;
	background: url("http://images.slashcode.com/comm-minus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 2;
	cursor: pointer;
}

.dwns
{
	margin: 0;
	padding: 0 .3em;
	text-decoration: none;
	background: url("http://images.slashcode.com/comm-plus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 1;
	cursor: pointer;
}

.hide { display: none   }
.show { display: inline }

.oldcomment {
	opacity: .65;
	filter: alpha(opacity=65);
}
.newcomment {
}

.comment > .hidden  {
	display: none;
}

.comment > .oneline .commentSub, .comment > .oneline .otherdetails, .comment > .oneline .sig, .comment > .oneline .quote, .comment > .oneline .readrest, .comment > .oneline .zooicon {
	display: none;
}

.comment > .oneline * {
	display: inline;
}

.comment > .oneline {
	border: 1px solid #e5e5e5;
	margin: 1em 0 0 0;
	padding: .3em 0 0 0;
	position: relative;
	width: 99%;
	height: 1.3em;
	overflow: hidden;
}

.comment > .currcomment {
	border: 1px dotted #666;
}

/* lots of space between lines */
.comment > .oneline .commentTop, .comment > .oneline .commentBody {
	border: none;
	vertical-align: 10em;
}

.comment > .oneline .details {
	font-size: 100%;
}

.comment > .oneline .commentTop .title h4 a { color: #600; }
.comment > .oneline .commentTop {
	background: transparent;
	color: #600;
}

.comment > .oneline .commentBody {
	background: transparent;
	padding: 0 0 0 .5em;
}

.comment > .oneline .commentBody * {
	font-size: 100%;
	color: #666;
	text-decoration: none;
	font: inherit;
}

/* in oneline, sometimes icons are too tall for text ... this helps a little */
.comment > .oneline .zooicon {
	vertical-align: sub;
}


/* D2 Widget */

#d2prefs { background-color: lightgray; padding: 1em; width: 20em; border: 1px solid black; display: none; position: absolute; z-index: 1 }
#d2prefs  .pref-group { margin-top: 1.5em; }
#d2prefs  .pref-group-comment { font-size: smaller; margin: 0.5em 1em; }
#d2prefs  .pref-group h1 { font-size: 110%; }
#d2prefs  .reading-prefs, #d2prefs  .writing-prefs { display: none; }
#d2prefs.reading .reading-prefs, #d2prefs.writing .writing-prefs { display: block; }

#d2prefs-closebox { display: block; position: absolute; right: 4px; top: 4px; height: 12px; width: 12px; border: 1px solid darkgray; }

#d2act {display: none; position: relative; opacity: 1; z-index: 1000; width: 9.3em; text-align: center; }
.vertical #d2act {position: relative; left: 1.2em !important}
.vertical #d2act.rooted {left:-10.6em !important}
#d2act div.block {background: #ccc;}
#d2act div.block div.title h4 {text-align: left;}
#d2act .close {position: absolute; top: .2em; right: .2em; color: #ccc; text-decoration: none; font-family: sans-serif; border: 1px solid #bbb; border-bottom: 1px solid #444; border-right: 1px solid #555; padding: 0 .3em;}
#d2act .close:hover {position: absolute; top: .2em; right: .2em; color: #eee; text-decoration: none; font-family: sans-serif; border: 1px solid #444; border-bottom: 1px solid #aaa; border-right: 1px solid #ccc; padding: 0 .3em;}
#d2act .commentControlFooter {border-bottom: 1px solid #444; border-top: 1px solid #ccc; text-align: right; padding: 3px; background: #666; color: #fff; font-size: 11px; }
#d2act .commentControlFooter a {  color: #fff; text-decoration: none; }
.loki { display: inline; }
.comment_divider,
#comment_full,
#comment_abbr,
#comment_hidden {opacity: 1 !important;  border-right: 1px solid #aaa;border-left: 1px solid #aaa;}
.commentControlFooter {clear: both}
#commentlisting {clear: right;}
#commentControlBoxStatus {border-bottom: 1px solid #444; border-top: 1px solid #ccc; text-align: center; padding: 3px; background: #666; color: #fff; }

.escape-link { position: absolute; left: 0.8em; }

.horizontal .loki {display: block;}
.horizontal #d2act {background: #fff; left: 0 !important; right: 0; opacity: 1; top: 0; z-index: 1000; border: none; border-right: 2px solid #aaa; width: auto; margin:0 1.25em 0 11.75em; text-align: center}
.horizontal #d2act div.block div.title h4 {background: #cc; !important}
.rooted #d2act.rooted { border: 3px solid #555555; }
.horizontal #d2act .commentControlFooter { display: none; }

.ccw-header-links { display: none; }
.horizontal .ccw-header-links { display: block; position: absolute; right: 2em; top: 0.5em; text-align: right; }

/* new draggable guts for the D2 Widget */

	/* Overall Size and Position */
.ccw-panel-border { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

#ccw, #ccw-centering-rail,
#ccw-body {
	display: block;
	position: relative;
}

#ccw-panel-container,
div.ccw-panel, #ccw-control,
#ccw-abbr-bar-pos, #ccw-hide-bar-pos,
#ccw-abbr-bar, #ccw-hide-bar,
.ccw-count-pos, .ccw-count-text,
.ccw-bar-tab,
.horizontal #ccw-body,
.horizontal div.ccw-panel {
	display: block;
	position: absolute;
}

.horizontal #ccw-body { width: 100%; }
.vertical #ccw-panel-container, .vertical #ccw-control { top: 16px; bottom: 16px; }
.horizontal #ccw-panel-container, .horizontal #ccw-control { left: 0.5em; right: 0.5em; }

.ccw-core-pos { height: 1px; }
.horizontal .ccw-core-pos { width: 1px; }


#ccw-centering-rail, #ccw-abbr-bar-pos, #ccw-hide-bar-pos { width: 2px; }
#ccw-centering-rail { margin: 0 auto; }
.horizontal #ccw-centering-rail { width: 100%; }

.horizontal #ccw-centering-rail,
.horizontal #ccw-abbr-bar-pos,
.horizontal #ccw-hide-bar-pos { top: 1em; height: 2px; }


.ccw-core, .ccw-panel, .ccw-count-pos { height: 140px; width: 9.3em; }
.vertical .ccw-panel { height: auto; }
.vertical .ccw-count-pos { height: 1px; }
.horizontal .ccw-core, .horizontal .ccw-panel, .horizontal .ccw-count-pos { height: 2em; width: auto; }
.horizontal #ccw-panel-container, .horizontal #ccw-control { left: 0.5em; }
#ccw { height: 172px; width: 9.3em; }
.horizontal #ccw { height: 2em; width: 100%; }

.ccw-bar { height: 4px; width: 9.8em; left: -4.9em; }
.horizontal .ccw-bar { width: 4px; height: 2.4em; top: -1.3em; left: 0; }
#ccw-abbr-bar { top: -5px; }
.horizontal #ccw-abbr-bar { top: -1.3em; left: -5px; }

.ccw-bar-tab { height: 8px; width: 3em; left: 3.5em; }
.horizontal .ccw-bar-tab { height: 1.2em; width: 4px; }
#ccw-abbr-bar-tab { top: -9px; }
#ccw-hide-bar-tab { top: 4px; }
.horizontal #ccw-abbr-bar-tab { top: 0.5em; left: -5px; }
.horizontal #ccw-hide-bar-tab { top: 0.5em; left: 4px; }

.ccw-upzone, .ccw-downzone { display: none; height: 12px; width: 100%; }
.horizontal .ccw-upzone, .horizontal .ccw-downzone { width: 12px; height: 100%; }
.ccw-upzone { top: -12px; }
.ccw-downzone { top: 4px; }
.horizontal .ccw-upzone { left: -12px; top: 0; }
.horizontal .ccw-downzone { left: 4px; top: 0; }

#ccw-body { z-index: 1; }

.vertical #ccw-full-panel { top: -16px; }
.vertical #ccw-hide-panel { bottom: -16px; }
.horizontal #ccw-full-panel { left: -0.5em; }
.horizontal #ccw-hide-panel { right: -0.5em; }

.vertical .ccw-panel-border { border-width: 0 1px; }
.horizontal .ccw-panel-border { border-width: 0 0 1px 0; }
.horizontal #ccw-full-panel .ccw-panel-border { border-width: 0 0 1px 1px; }



	/* Borders and Fills */


#ccw-abbr-bar, #ccw-hide-bar, .ccw-bar-tab { border: 1px solid black; }

/* #ccw-body                          { background-color: white; } */
#ccw-full-panel                       { background-color: white; }
#ccw-abbr-panel                       { background-color: #CCCCCC; }
#ccw-hide-panel                       { background-color: #AAAAAA; }
.ccw-panel-border                     { border: solid #AAAAAA; }

#ccw-abbr-bar, #ccw-abbr-bar-tab      { background-color: white; }
#ccw-hide-bar, #ccw-hide-bar-tab      { background-color: #666666; }



	/* Cursor Behavior */

#ccw { -khtml-user-select: none; -moz-user-select: none; user-select: none; }

#ccw-abbr-bar, #ccw-hide-bar          { cursor: grab; cursor: -moz-grab; }

#ccw-control.ccw-active,
.ccw-active #ccw-abbr-bar,
.ccw-active #ccw-hide-bar             { cursor: grabbing; cursor: -moz-grabbing; }


	/* specifics */

.horizontal .ccw-count-pos { width: 100%; }
.h-inline { display: none; }
.horizontal .h-inline { display: inline; }
.horizontal .titlecount:before { content: " ("; }
.horizontal .titlecount:after { content: ")"; }
.horizontal .titlecount { text-decoration: none; }

.ccw-count-text { width: 100%; text-align: center; }

.vertical #ccw-full-count-text { top: -4px; }
.vertical #ccw-abbr-count-text { top: -9px; }
.vertical #ccw-hide-count-text { top: 4px; }

.horizontal #ccw-full-count-text { top: 0.5em; left: -0.3em; }
.horizontal #ccw-abbr-count-text { top: 0.5em; }
.horizontal #ccw-hide-count-text { top: 0.5em; left: 0.25em; }


#ccw-abbr-bar-tab { border-bottom-width: 0; }
#ccw-hide-bar-tab { border-top-width: 0; }
.horizontal #ccw-abbr-bar-tab { border-bottom-width: 1px; border-right: none; }
.horizontal #ccw-hide-bar-tab { border-top-width: 1px; border-left: none; }
