html>body #comments { margin: 0 auto .2em 0; width: 100%; }

#comments
{
	clear: right;
	z-index: 2;
	position: relative;
	margin: 0 -15.6em .2em 0;
        width: 98%;
}
.commentwrap {
	background: #fff;
        position: relative;
        border: 1px solid #aaa;
	clear: right;
}
html > body .commentwrap table {
        width: 100%;
        margin: 0;
}
.commentwrap table {
        width: 99%;
	margin: .3em;
}

.commentBox
{
	background: #555;
	text-align: center;
	color: #fff;
	margin-top: 0.5em;
}

.commentBox a { color: #fff; }
.commentBox a:visited { color: #fff; }

.commentBoxForm
{
	background: #ccc;
	text-align: center;
	padding-bottom: 0.5em;
}
.commentwrap legend
{
        display: none;
}
.commentwrap fieldset, .commentswrap form
{
        margin: 0;
        padding: 0;
        border: none;
}
.linkCommentPage {
	background: #ccc;
	text-align: center;
	margin: .3em;
	padding: .3em;
}
.commentTop .details {
	font-size: 75.5%;
	margin: 0;
	padding: 0;
}
.commentTop .details small {font-size: 100%;}

.commentTop
{
	background: #ddd;
	border: 1px solid #ccc;
	padding: .3em;
}

.commentSub
{
	background: #eee;
	padding: .3em;
	font-size: 80%;
	border: 1px solid #ddd;
	margin: 0;
}

.commentTop H4 { display: inline; }

.commentBody
{
	border: 1px solid #ddd;
	border-bottom: none;
	padding: .3em;
}

.commentshrunk, .commentstatus { font-weight: bold }


#commentlisting {
        padding: 0px;
        margin: 0px;
        list-style: none;
}
.comment { margin-bottom: 0.5em }
#commentlisting li.comment { list-style: none; }
.comment_footer { text-align: center; background: #ddd }
.modsel {
	display: inline;
	font-weight: bold;
}

.ups
{
	margin: 0 0 0 -.3em;
	padding: 0 .3em;
	text-decoration: none;
	background: url("/images/comm-minus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 2;
	cursor: pointer;
}

.dwns
{
	margin: 0;
	padding: 0 .3em;
	text-decoration: none;
	background: url("/images/comm-plus.gif") 0 .2em no-repeat;
	right: -1.4em;
	z-index: 1;
	cursor: pointer;
}

.hide { display: none   }
.show { display: inline }


.comment > .hidden  {
	display: none;
}

.comment > .oneline .commentSub, .comment > .oneline .score, .comment > .oneline .otherdetails, .comment > .oneline .sig {
	display: none;
}

.comment > .oneline * {
	display: inline;
}

.comment > .oneline {
	border: 1px solid #e5e5e5;
	margin: 1em 0 0 0;
	padding: .3em 0 0 0;
	position: relative;
	width: 99%;
	height: 1.3em;
	overflow: hidden;
}

/* lots of space between lines */
.comment > .oneline .commentTop, .comment > .oneline .commentBody {
	border: none;
	vertical-align: 10em;
}

.comment > .oneline .details {
	font-size: 100%;
}

.comment > .oneline .commentTop .title h4 a { color: #600; }
.comment > .oneline .commentTop {
	background: transparent;
	color: #600;
}

.comment > .oneline .commentBody {
	background: transparent;
	padding: 0 0 0 .5em;
}

.comment > .oneline .commentBody * {
	font-size: 100%;
	color: #666;
	text-decoration: none;
	font: inherit;
}

/* in oneline, sometimes icons are too tall for text ... this helps a little */
.comment > .oneline .zooicon {
	vertical-align: sub;
}

/* D2 Widget */
.thor {position: fixed; opacity: 1; top: 0; left: 0; z-index: 1000; border-bottom: 2px solid #aaa; border-right: 2px solid #aaa; width: 11em; text-align: center; background: #ccc; }
.horizontal .thor {position: fixed; opacity: 1; top: 0; left: 0; z-index: 1000; border-bottom: 2px solid #aaa; border-right: 2px solid #aaa; width: 100%; text-align: center }
/* .thor h3, .thor {opacity: 1 !important;} */
.thor div.generaltitle div.title h3 {background: transparent; padding-right: 15em; font-size: 95%}
.thor .close {position: absolute; top: .2em; right: .2em; color: #fff; text-decoration: none; font-style: sans-serif; border: 1px solid #d4e5e5; border-bottom: 1px solid #015151; border-right: 1px solid #015151; padding: 0 .3em; background: #600;}

.thor .commentControlFooter { text-align: right padding: 3px; background: #600; color: #fff; } 
.thor .commentControlFooter a {  color: #fff; text-decoration: none; }
.horizontal #comment_full, .horizontal #comment_abbr, .horizontal #comment_hidden, .horizontal .comment_divider { display: inline; }
.loki { display: none; }
.horizontal #commentControlPane {display: block; margin-left: auto; margin-right: auto; overflow: hidden; width: 38em}

.horizontal #comment_full, 
.horizontal #comment_abbr, 
.horizontal #comment_hidden, 
.horizontal .comment_divider {float: left;}
.horizontal #comment_full,
.horizontal #comment_abbr,
.horizontal #comment_hidden { width: 8em;}
.commentControlFooter {clear: both}
#commentlisting {clear: right;}
