body
{
	background: #fff;
	font-family: sans-serif;
	font-size: 100%;
}

ul li { display: block; }

/* Header */
#slogan h2
{
	color: #000;
	margin: 0;
	padding: 0;
	font-size: small;
}

fieldset, 
.generaltitle, 
.article, 
.journalgeneric, 
.generaltitle .div.title, 
.article .div.title, 
.journalgeneric .div.title, 
.generalbody, 
.generaltitle .div.details, 
.article .div.details, 
.journalgeneric .div.details,
.generaltitle .div.body, 
.article .div.body, 
.journalgeneric .div.body,
div.storylinks, 
div.storylinks ul, 
div.storylinks div,
#articles, 
#users-blocks, 
#polls
{
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
	font-size: 100%;
}

div.storylinks ul li
{
	list-style: none;
	display: inline;
}


.details
{
	font-size: small;
	padding: 0 0 .4em 0;
}

#links, #contents, #slashboxes
{
	float: none;
	margin: 0;
	padding: 0;
	clear: both;
}

.article .topic
{
	float: right;
	border: 0;
}

#ostgnavbar, #slashboxes, #links, #topnav ul, #jump { display: none; }
#topnav { height: 30px; }

.generaltitle h3, .article h3, .journalgeneric h3
{
	border-bottom: 1px solid #000;
	padding-top: .2em;
	padding-bottom: .2em;
	margin: .5em 0 .2em 0;
}

div.storylinks { margin: 0 0 .5em 0; }
#footer { margin: 1em; }

#footer .search
{
	margin: 1em 0;
	float: none;
	clear: both;
}

#footer .rightcontent
{
	margin: 2.4em 0 0 0;
	float: none;
	clear: both;
}

#footer .copyright { margin: 1em 0; }
.btmnav ul li a, 
.btmnav ul li a:visited { color: #066; }

.btmnav ul
{
	margin: 0;
	padding: 0;
}

